<!-- start footer -->
        <div class="footer-container">
            <footer class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="social-link">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                        <!-- static nav start -->
                        <div class="static-nav">
                            <a href="#">About</a> |
                            <a href="#">Terms & condition</a> |
                            <a href="#">Privacy Policy</a>
                        </div>
                        <!-- static nav end -->
                        <div class="copyright">Copyright © <a href="{{@blog.url}}">{{@blog.title}}</a>, {{date format="YYYY"}} | All rights reserved.</div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end footer -->
        <!-- main document markup end -->
        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}